<div class="container-fluid">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h2>Header</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae corporis laboriosam numquam accusamus itaque saepe est provident, nobis pariatur iste reprehenderit quidem facilis quasi ex vero non modi culpa vitae?</p>
      </div>
      <div class="col">
        <h2>Social links</h2>
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>LinkedId</li>
          <li>Discord</li>
        </ul>
      </div>
      <div class="col">
        <h2>Usefull Pages</h2>
        <ul>
          <li><a class="text-reset" href="/">Home</a></li>
          <li><a class="text-reset" href="/login">Login</a></li>
          <li><a class="text-reset" href="/shop">Shop</a></li>
        </ul></div>
      <div class="col">
        <h2>Contact</h2>
        <ul>
          <li><a class="text-reset" href="tel:+3212323412">Call Us!</a></li>
          <li><a class="text-reset" href="mailto:test@test.test">Mail Us!</a></li>
          <li><a class="text-reset" href="https://www.google.com/maps">Visit us</a></li>
        </ul>

      </div>
    </div>
  </div>

</div>
