<div class="container">
  <div class="col-xl-4 offset-xl-4">
  <div class="card m-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h5 class="card-header text-center">Login</h5>
        <div class="card-body border-bottom">
        <div class="form-row d=flex justify-content-center">
          <div class="form-group">
            <label for="email" class="col-form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" formControlName="email">
            <div class="text-danger" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
              Email is required
            </div>
          </div>
        </div>
        <div class="form-row d=flex justify-content-center">
          <div class="form-group">
            <label for="password" class="col-form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" formControlName="password">
            <div class="text-danger" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
              Password is required
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-center border-top-0">
        <button type="submit" name="btnLogin" class="btn btn-primary" [disabled]="loginForm.invalid" mat-raised-button>Login</button>
      </div>
      <label class="error_message" *ngIf="errorExists"> {{ errorMessage }} </label>
    </form>
  </div>
</div>
</div>

