<div class="landing">
  <div class="text">
    <h1>Welcome to our little shop</h1>
    <p>Here you will find everything you ever needed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, soluta? Debitis et amet odio! Earum, maxime sunt? Similique accusamus eum aperiam tempore vitae ab beatae mollitia sequi, suscipit, dignissimos voluptate.</p>
    <button mat-raised-button routerLink="/shop">Visit shop</button>
  </div>
</div>
<div class="banner1">
  <h1 class="abs">Our Top Sellers</h1>
  <div class="bannerCont">
    <div class="bannerContItem">
      <h2>ProductName</h2>
      <p>Description</p>
      <button mat-raised-button>view item</button>
    </div>
    <div class="bannerContItem">
      <h2>ProductName</h2>
      <p>Description</p>
      <button mat-raised-button>view item</button>
    </div>
    <div class="bannerContItem">
      <h2>ProductName</h2>
      <p>Description</p>
      <button mat-raised-button>view item</button>
    </div>
  </div>
</div>
<div class="aboutUs">
  <h1>About us</h1>

  <div class="aboutUsCont">
    <div class="aboutUsContItem">
      <h2>Property</h2>
      <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magnam consectetur excepturi eveniet eos. Cupiditate, esse minus adipisci sint totam voluptates vitae quae, nemo aspernatur quis aliquid! Quibusdam, itaque porro?</p>
    </div>
    <div class="aboutUsContItem">
      <h2>Property</h2>
      <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magnam consectetur excepturi eveniet eos. Cupiditate, esse minus adipisci sint totam voluptates vitae quae, nemo aspernatur quis aliquid! Quibusdam, itaque porro?</p>
    </div>
    <div class="aboutUsContItem">
      <h2>Property</h2>
      <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magnam consectetur excepturi eveniet eos. Cupiditate, esse minus adipisci sint totam voluptates vitae quae, nemo aspernatur quis aliquid! Quibusdam, itaque porro?</p>
    </div>
    <div class="aboutUsContItem">
      <h2>Property</h2>
      <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magnam consectetur excepturi eveniet eos. Cupiditate, esse minus adipisci sint totam voluptates vitae quae, nemo aspernatur quis aliquid! Quibusdam, itaque porro?</p>
    </div>
  </div>
</div>
